
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Add global styles */
body {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width:90%;
    display: flex;
    justify-content: space-between;
    margin: 10px 130px;
    color: #0D1321;
}

/* Header */
header {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
    margin: 0;
    font-weight: 800;
    color: #0D1321;
}

header .btn {
    padding: 15px 24px;
    color: #0D1321;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #000;
    font-weight: 600;
    font-size: 20px;
   
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    background-image: url('../images/Hero-bg.png');
    height: 550px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  
}

.hero img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

.hero h2 {
    position: relative;
    font-size: 48px;
    text-align: center;
    font-weight: 800;
}

.hero p {
    font-size: 16px;
    font-weight: 26px;
    color: #0D1321;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 220px;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #0D1321;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Why Web Development Section */
.why-web-dev  {
    position: relative;
    text-align: center;
    margin: 50px 180px;
    padding: 30px 70px;
    box-sizing: border-box;
    text-align: center;
}
.why-web-dev .headings{
   position: relative;
   padding: 10px 40px;
   margin:0 30px;
   left: 33.5px;
   width: 805.5px;
}
.why-web-dev h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    color:#0D1321;
}

.why-web-dev p {
    font-size: 16px;
    text-align: left;
    color: #0D1321;
    margin-bottom: 40px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headings{
    background-color: #fff;
    padding: 20px;
    margin: 0 80px;
    text-align: center;
    width: 80%;
}
.feature {
    background-color: #fff;
    padding: 38px;
    width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-around;
}

.feature img {
    width: 274px;
    height: 240px;
    padding-left: 10px;
}

.feature h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 20px;
}

.feature .btn {
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

/* Inspiration Section */
.inspiration {
    text-align: center;
    padding: 50px 0;
}

.inspiration h2 {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
}

.inspiration p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.inspiration img {
    max-width: 800px;
    border-radius: 10px;
}

/* Current Target Section */
.current-target, .next-target {
    padding: 50px 0;
}
.current-target h2, .next-target h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.current-target p, .next-target p {
    text-align: center;
    font-size: 1em;
    margin-bottom: 40px;
}
.container .my-target {
    text-align: center;
    font-size: 1em;
    margin-bottom: 40px;
    padding: 0 220px;
   
}

.targets {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.target {
    background-color: #fff;
    padding: 25px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}
.html{
    background-color:rgba(255 ,76 ,30 ,0.05);
}
.css{
    background-color:rgba(0 ,76 ,232 ,0.05);
}
.js{
    background-color:rgba(255 , 223, 0 ,0.05);
}
.target img {
    width: 60px;
    height: 60px;
}

.target h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.target p {
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 20px;
}

.target .btn {
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
}
/* next target */
.next-target .container {
        margin-left: 2%;
}
.target1 {
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 1100px;
    border-radius: 10px;
    display: flex;
    margin: 20px;
    left: 10%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  
}

.target1 img {
    height: 66px; 
    object-fit: cover;
    padding: 10px;
    margin: 20px;
}

.target1 .next h3 {
    position: relative;
    left: 40px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.target1 .next p {
    position: relative;
    margin-left: 38px;
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 20px;
    text-align: left;
}

.target1 .btn {
    position: relative;
    left: 20px;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
}
/* Support Section */

.support {
    background-image: url('../images/handshake.jpg');
    position: relative;
    background-size: cover;
    max-width: 80%;
    height: 290px;
    background-position: center;
    margin-left: 10%;
    object-fit: cover;
    background-color: #333;
    
  }

.support h2 {
    position: absolute;
    text-align: center;
    font-size: 1.8em;
    top: 10%;
    left: 40%;
    color: white;

  }
.support p {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 25%;
    color: white;
    padding: 0 180px;
  
}

.support form {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    left: 18%;
    bottom: 20%;
    text-align: center;

}

.support input[type="text"] {
    padding: 10px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid #ccc;
 
}

.support button[type="submit"] {
    padding: 10px 20px;
    background-color:  #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 55px;
}

/* Footer */

footer .container {
    position: relative;
    text-align: center;
    padding: 20px 0;
    color: #0D1321;
    margin-top: 20px;
    display: flex;
    width: 1210px;
    justify-content: space-between;
    margin-left: 150px;
}

footer .container p {
    position: relative;
    text-align: center;
    margin-left: 2px;
    padding: 20px 3px;
}

.social-links {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    right: 1px;
    padding: 20px 3px;
}

.social-links a img {
    width: 30px;
}


